*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
    background-color: #E6E6E6;
}
.hat{
    background-color: #4C75A3;
    display: flex;
    padding: 5px;
    align-items: center;
}
.vk{
    background-color: #4C75A3;
    margin-left: 100px;
    padding: 10px;
}
.vk b{
    background-color: #4C75A3;
    color: white;
}
.box input{
    border: 0px;
    width: 80%;
    background-color: #343A4F;
    outline: none;
    color: white;
}
.box ::placeholder{
    background-color: #343A4F;
    outline-color: #343A4F;
    color: white;
    font-size: 14px;
}
h1{
	position: absolute;
	top: 30%;
	font-size: 60px;
	color: #343A4F;
}
.box{
	width: 200px;
	height: 1px;
	background-color:#343A4F;
	border-radius: 15px;
	display: flex;
	align-items: center;
	padding: 15px;
    margin-left: 200px;
}

.box > i {
	font-size: 16px;
	color: white;
}

.box > input{
	flex: 1;
	height: 20px;
	border: none;
	outline: none;
	font-size: 18px;
	padding-left: 10px;

}
.main{
    display: flex;
    justify-content: space-around;
}
.txt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    margin-top: 10px;
    margin-left: 50px;
    color:dimgray;
}
.bord{
    border: 0.1px solid gainsboro;
    width: 599px;
}
.Myfriends{
    margin-top: 20px;
    background-color: white;
    height: 650px;
    width: 600px;
    border-radius: 5px;
}
.disp{
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.find{
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: gray;
}
.find ::placeholder{
    background-color: white;
    outline-color: white;
    color: gray;
    font-size: 14px;
}
.find input{
    border: 0px;
    width: 80%;
    outline: none;
    color: black;
}
.butt{
    margin-right: 10px;
}
.butt button{
    color: white;
    background-color: #4C75A3;
    height: 20px;
    border-radius: 2px;
    border: 0px;
}
.images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.images img{
    width: 68px;
    height: 68px;
    border-radius: 50px;
}
.dot {
    margin-bottom: 47px;
    height: 4px;
    width: 4px;
    background-color:#4C75A3;
    border-radius: 50%;
    display: inline-block;
}
.info{
    margin-top: 7px;
    margin-right: 250px;
    font-size: 14px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info1{
    margin-top: 7px;
    margin-right: 270px;
    font-size: 14px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info2{
    margin-top: 7px;
    margin-right: 275px;
    font-size: 14px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info3{
    margin-top: 7px;
    margin-right: 270px;
    font-size: 14px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info4{
    margin-top: 7px;
    margin-right: 293px;
    font-size: 14px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info5{
    margin-top: 7px;
    margin-right: 288px;
    font-size: 14px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info6{
    margin-top: 7px;
    margin-right: 299px;
    font-size: 14px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blue{
    color: #4C75A3;
}
.grey{
    color: grey;
}
.lblue{
    color: cadetblue;
}
.list{
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.spisok{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    background-color: white;
    color: #474747;
    border-radius: 5px;
}
.myfr{
    height: 30px;
    width: 200px;
    background-color: #E3E9FF;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.standart{
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.available{
    height: 350px;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.available img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.profile{
    display: flex;
    margin-right: 8px;
    justify-content: space-around;
}
.teks{
    font-size: 12px;
    display: flex;
    height: 45px;
    color: gray;
    flex-direction: column;
    justify-content: space-around;
}
.teks1{
    font-size: 12px;
    display: flex;
    height: 45px;
    color: gray;
    flex-direction: column;
    margin-right: 11px;
    justify-content: space-around;
}
.teks2{
    font-size: 12px;
    display: flex;
    height: 45px;
    color: gray;
    flex-direction: column;
    margin-right: 11px;
    justify-content: space-around;
    margin-right: 8px;
}
.teks3{
    font-size: 12px;
    display: flex;
    height: 45px;
    color: gray;
    flex-direction: column;
    margin-right: 11px;
    justify-content: space-around;
    margin-right: 8px;
}
.teks4{
    font-size: 12px;
    display: flex;
    height: 45px;
    color: gray;
    flex-direction: column;
    margin-right: 11px;
    justify-content: space-around;
    margin-right: 8px;
}
.ads{
    margin-left: 12px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.all{
    font-size: 14px;
    margin-left: 10px;
    display: flex;
    width: 110px;
    justify-content: space-between;
}
.dron{
    font-size: 14px;
    margin-right: 180px;
    display: flex;
    width: 139px;
    justify-content: space-between;
}
.muha{
    margin-left: 10px;
}
.aza{
}
