body{
    margin: 10px;
    font-family: 'Arial';
    padding: 10px;
}
.main{
    margine
}
.fhead a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.shead a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}
.submain1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkred;
    min-height: 50px;
}
.submain2{
    background-color: powderblue;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.khabib{
    width: 2000px;
    height: 300px;
}
.khabib img{
    height: 100%;
    width: 100%;
}
.submain3{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.txt{
    display: flex;
    justify-content: center;
    padding: 10px;
    }

.photo1 {

    height: 310px;
    border: solid 1px black;
    width: 20%;

}
.photo1 img{
    height: 100%;
    width: 100%;
}
.photo1 a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
.photo2 {
    border: solid 1px black;
    height: 310px;
    width: 20%;

}
.photo2 img{
    height: 100%;
    width: 100%;
}
.photo3 {
    border: solid 1px black;
    height: 310px;
    width: 20%;

}
.photo3 img{
    height: 100%;
    width: 100%;
}
.photo4 {
    border: solid 1px black;
    height: 310px;
    width: 20%;

}
.photo4 img{
    height: 100%;
    width: 100%;
}

.textkhabib{
    margin-top: 10px;
    margin-left: 10px;
}
.shapka{
    background-color: darkred;
    color: white;
    margin: 5px;
    width: 100px;
    height: 20px;
}
.photo2 a{
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
.photo3 a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
.photo4 a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.abcd{
    padding: 10px;
}

.abcd p{
    font-size: 14px;
}

.abcd strong{
    font-size: 14px;
}

.canelo{
    height: 137px;
}

.max{
}

.morata{
}

.hazard{
}